.header {
  display: block;
  padding: 1rem 0;
  background: black;

  nav {
    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      list-style: none;

      li {
        a {
          color: white;
        }
      }

      li + li {
        margin-left: 30px;
      }
    }
  }
}
